export SNOWFLAKE_ACCOUNT=bgvkhjf-qy29148
export SNOWFLAKE_USER=codechem
export SNOWFLAKE_PASSWORD=SjVi82pcPp8skb
export SNOWFLAKE_WAREHOUSE=dota2_wh
export SNOWFLAKE_DATABASE=dota2_db
export SNOWFLAKE_SCHEMA=dota2_schema